<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="<%= user_signed_in? ? dashboard_path : root_path %>">Property Management</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        <li>
          <%= link_to "Dashboard", properties_path, class: "nav-link" %>
        </li>
        <%= image_tag(current_user.image.url, alt: 'Image', class:"rounded-circle mr-2", width: "40px", height: "40px") %>
        <li class="mt-2">
          <span class="text-white">logged in as : <b><%= "#{current_user.email} (#{current_user.role})" %></b></span>
        </li>
      <% else %>  
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      <% end %>
      <%# </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Latest</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Search</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Advertising</a>
      </li> %>
    </ul>

      <% if user_signed_in? %>
        <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "btn btn-secondary float-sm-right" %>
      <% else %>
        <%= link_to "Log In", new_user_session_path, class: "btn btn-secondary mr-2 float-sm-right" %>
        <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-success float-sm-right" %>
      <% end %>  
    </ul>
  </div>
</nav>